.worktrees/

# skills
.baoyu-skills/

# codex (with skills)
.codex/**
!.codex/skills/
!.codex/skills/**
.superpowers/


# Devenv
.devenv*
devenv.local.nix
devenv.local.yaml

# direnv
.direnv/

# pre-commit
.pre-commit-config.yaml


# nix build result
result/

# agent share libraries
.agents/

# cursor configs
.cursor/

# rtk configs
.rtk/

# wrangler/cloudflare configs
.wrangler/

# misc
url-to-markdown/
__pycache__/
