[Unit]
Description=Map Caps Lock to Escape on Linux virtual consoles
After=systemd-vconsole-setup.service
Before=getty-pre.target

[Service]
Type=oneshot
ExecStart=/usr/bin/loadkeys /etc/kbd/caps-escape.map
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
