layout {

    tab name="ide" {
        pane split_direction="vertical" {
            filepicker size="15%" name="nnn"
            editor
            editor
        }
    }

    tab name="miniterm" {
        pane split_direction="vertical" {
            pane size="70%" name="tasks"
            pane size="30%" name="logs"
        }
    }

    tab name="tasks" {
        floating_panes {
            lazygit
        }
        tasks name="one" {
            pane
        }
    }

    // PANE TEMPLATES
    pane_template name="filepicker" {
        command "zsh"
        args "-c" "-l" "nnn"
    }

    pane_template name="editor" {
        command "zsh"
        args "-c" "-l" "hx"
    }

    pane_template name="lazygit" start_suspended=true {
        command "lazygit"
        x "10%"
        y "5%"
        width "80%"
        height "80%"
    }

    pane_template name="tasks" {
        pane split_direction="vertical" {
            children
            pane split_direction="horizontal" {
                just_action_run
                just_action_build
                just_action_test
            }
        }
    }

    pane_template name="just_action_test" {
        pane command="just" size="25%" start_suspended=true {
            args "test"
        }
    }

    pane_template name="just_action_build" {
        pane command="just" size="25%" start_suspended=true {
            args "build"
        }
    }

    pane_template name="just_action_run" {
        pane command="just" size="75%" start_suspended=true {
            args "run"
        }
    }

    pane_template name="compact_bar" {
        borderless true
        plugin location="compact-bar"
    }


    // TAB TEMPLATES
    new_tab_template {
        pane
        compact_bar size=1
    }

    default_tab_template {
        children
        compact_bar size=1
    }
}
