layout {
    tab {
        floating_panes {
            pane
        }

        pane stacked=true {
            filepicker name="picker"
            editor expanded=true
        }
        compact_bar size=1
    }

    // TEMPLATES
    pane_template name="filepicker" {
        command "nnn"
    }

    pane_template name="editor" {
        command "hx"
    }

    pane_template name="compact_bar" {
        borderless true
        plugin location="compact-bar"
    }

    new_tab_template {
        pane
        compact_bar size=1
    }
}
