layout {
    tab {
        floating_panes {
            editor
        }

        pane split_direction="horizontal" {
            filepicker size="15%" name="picker"
            editor
        }
        compact_bar size=1
    }

    // TEMPLATES
    pane_template name="filepicker" {
        command "nnn"
    }

    pane_template name="editor" {
        command "hx"
    }

    pane_template name="compact_bar" {
        borderless true
        plugin location="compact-bar"
    }

    new_tab_template {
        pane
        compact_bar size=1
    }
}
