[Desktop Entry]
Name=oxwm
Comment=OXWM dynamic window manager
Exec=oxwm-session
TryExec=oxwm-session
Type=Application
DesktopNames=oxwm
X-LightDM-DesktopName=oxwm
